In [6]:
import pandas as pd

In [9]:
ine = pd.read_json('datos_ine.json', encoding='latin1')
ine

,COD,Nombre,T3_Unidad,T3_Escala,MetaData,Data
0,PC5694998,Dato base. Total. Girona. Total.,Personas,,"[{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
1,PC5694997,Dato base. Total. Girona. España.,Personas,,"[{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
2,PC5694996,Dato base. Total. Girona. Extranjero.,Personas,,"[{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
3,PC5694967,Dato base. Total. Girona. Europa (sin España).,Personas,,"[{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
4,PC5694966,Dato base. Total. Girona. UE28 sin España.,Personas,,"[{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...","[{'Fecha': '2020-01-01T00:00:00.000+01:00', 'T..."
...,...,...,...,...,...,...
26635,PC4743757,Mujeres. Vilopriu. China. Dato base.,Personas,,"[{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
26636,PC4743756,Mujeres. Vilopriu. Pakistán. Dato base.,Personas,,"[{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
26637,PC22759807,Mujeres. Vilopriu. UE27_2020 sin España. Dato ...,Personas,,"[{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
26638,PC4743749,Mujeres. Vilopriu. Oceanía. Dato base.,Personas,,"[{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."
26639,PC22759806,Mujeres. Vilopriu. Europa menos UE27_2020. Dat...,Personas,,"[{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...","[{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T..."

__Totalización para cada población__

In [33]:
ciudad = ine['Nombre'][0].split(".")
ciudad[2].strip()

'Girona'

In [ ]:
total = []
for registro in ine:
    
    indice = {
        "id": ine["COD"]
    }
    
    valid = False
    
    for meta in ine['MetaData']: